body {
    background-color:rgba(247, 112, 24,0.2);
}
h1 {
    text-align: center;
    font-family: "Oswald", Verdana, Arial, sans-serif;
    color: rgba(185, 63, 8,1)
}
h3 {
    text-align: center;
    font-family: "Oswald", Verdana, Arial, sans-serif;
    color: rgba(185, 63, 8,1)
}
#image-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}
img {
    width: 400px;
    height: 350px;
}
figure {
    text-align: center;
    list-style-position: ;
}
figcaption {
    font-family: "Oswald", Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: .75em;
}
#image-gallery div {
    border-style: solid;
    border-radius: 15px;
    border-color: rgba(185, 63, 8,1);
    padding: 5px;
}